*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_1: #3C3C43;
    --color_2: #007AFF;
    font-family:'Montserrat', sans-serif; 

    --font_1: 15px;
    --font_2: 17px;
}
html{
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
}