.login {
    margin: 1rem 1rem;
}

.close {
    font-size: var(--font_2);
    font-weight: 500;
    color: var(--color_3);
}

.title {
    font-size: 4.5rem;
    font-weight: 900;
    margin-top: 2rem;
}

.title_decorado {
    font-size: 2rem;
    font-weight: 600;
}