.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    color: var(--color_3);
    font-size: 1.5rem;
    margin-top: 5rem;
    z-index: 2;
}

#vuelo {
    background-color: var( --color_4);
    padding: 1.1rem 1.6rem;
    margin-top: 1.6rem;
    border: 0;
    border-radius: 8px;
    outline-style: none;
    font-size: 1.7rem;
    z-index: 2;
}

#boton {
    height: 4.4rem;
    background-color: var(--color_2);
    color: #ffffff;
    margin-top: 1.6rem;
    border: 0;
    border-radius: 8px;
    font-size: var(--font_2);
    z-index: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plane {
  
    background-size:cover;
    width: 500px;
    height: 550px;
    
}